.container{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    height: 300px;
}
.block{
    background-color: #e6e6e6;
}
.block2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 10px;
}